// Plugins CSS
@import "plugins/plugin-nouislider";
@import "plugins/plugin-react-datetime";

// Core CSS
@import "now-ui-kit/misc";
@import "now-ui-kit/typography";

// components
@import "now-ui-kit/dropdowns";
@import "now-ui-kit/modals";
@import "now-ui-kit/popovers";
@import "now-ui-kit/tooltips";

// example pages and sections
@import "now-ui-kit/sections";


.title{
    padding-top: 0;
}



.overImage{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
}

.author-wrapper{
    position: absolute;
    bottom: 10px;
    right: 10px; 
    p{
        color: white;
        font-size: .6rem;
    }
    .badge{
        background-color: lighten($primary-color, $amount: 20%) !important;
    }
    z-index: 3;
}

.thumbnail{
    border: 2px solid white !important;
}

.bg-image{
    background: $primary-color;
    background: linear-gradient(180deg, rgba(10,36,60,.6) 0%, rgba(10,36,60,0.4) 49%, rgba(10,36,60,1) 100%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

}

.top-image{
    min-height: calc(100vh);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    background-attachment: fixed;
}

.post-single{
    h1{
        text-shadow: 1px 1px 1px #0b243b;
    }
    .content-post{
        z-index: 3;
    }
}
.post-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    height: 54px;
 }

 .post{
     h4{
         margin-top: 0
     }
 }
@import "now-ui-kit/responsive";
